In [7]:
import pandas as pd

In [11]:
data=pd.read_csv("Sales_November_2019.csv")

In [12]:
data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,17616,17616,17616,17616,17616,17616
unique,16869,20,9,24,13197,16492
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,36,2062,15925,2062,36,36

In [13]:
data.shape

(17661, 6)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17661 entries, 0 to 17660
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          17616 non-null  object
 1   Product           17616 non-null  object
 2   Quantity Ordered  17616 non-null  object
 3   Price Each        17616 non-null  object
 4   Order Date        17616 non-null  object
 5   Purchase Address  17616 non-null  object
dtypes: object(6)
memory usage: 828.0+ KB