In [7]:
import pandas as pd

In [11]:
data=pd.read_csv("Sales_November_2019.csv")

In [12]:
data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,17616,17616,17616,17616,17616,17616
unique,16869,20,9,24,13197,16492
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,36,2062,15925,2062,36,36

In [ ]:
data