In [15]:
import pandas as pd

In [23]:
data=pd.read_csv("Sales_November_2019.csv")

In [24]:
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001"
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301"
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001"
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101"
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215"
...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,11/04/19 14:17,"574 4th St, Los Angeles, CA 90001"
17657,295661,USB-C Charging Cable,1,11.95,11/23/19 07:22,"359 1st St, Austin, TX 73301"
17658,295662,Lightning Charging Cable,1,14.95,11/13/19 16:12,"900 10th St, Boston, MA 02215"
17659,295663,AAA Batteries (4-pack),1,2.99,11/17/19 17:08,"592 Sunset St, Boston, MA 02215"
17660,295664,Google Phone,1,600,11/17/19 16:13,"428 Jackson St, Boston, MA 02215"

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17661 entries, 0 to 17660
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          17616 non-null  object
 1   Product           17616 non-null  object
 2   Quantity Ordered  17616 non-null  object
 3   Price Each        17616 non-null  object
 4   Order Date        17616 non-null  object
 5   Purchase Address  17616 non-null  object
dtypes: object(6)
memory usage: 828.0+ KB

In [26]:
data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,17616,17616,17616,17616,17616,17616
unique,16869,20,9,24,13197,16492
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,36,2062,15925,2062,36,36